.wrapper {
	gap: 64px;
	display: flex;
	align-items: center;
	margin-bottom: 104px;
	flex-direction: column;
}

.title {
	color: #241b0a;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	text-transform: uppercase;
}

.items {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
