.wrapper {
	gap: 16px;
	display: flex;
	padding: 12px 16px;
	align-items: center;
	background: #323741;
}

.columns {
	width: calc(100% - 104px);
	display: flex;
	align-items: center;
}

.column {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.columnLabel {
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
}
