.wrapper {
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background: #241b0a;
	border: none;
	cursor: pointer;
	border: 1px solid #241b0a;
	transition: 0.3s background;
}

.wrapper.loading {
	pointer-events: none;
}

.wrapper.withArrow {
	justify-content: space-between;
	padding: 16px 24px;
}

.wrapper.light {
	border: 1px solid #fff5e4;
	background: #fff5e4;
}

.wrapper:hover {
	border: 1px solid #241b0a;
	background: #fff5e4;
}

.wrapper.light:hover {
	border: 1px solid #fff5e4;
	background: #241b0a;
}

.wrapper.disabled {
	pointer-events: none;
	opacity: 0.8;
}

.loader {
	width: 24px;
	height: 24px;
	border: 4px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.label {
	color: #fff5e4;
	font-size: 21px;
	line-height: 120%;
	transition: 0.3s all;
}

.wrapper.light .label {
	color: #241b0a;
}

.wrapper:hover .label {
	color: #241b0a;
}

.wrapper.light:hover .label {
	color: #fff5e4;
}

.wrapper .arrow path {
	transition: 0.3s all;
}

.wrapper:hover .arrow path {
	stroke: #241b0a;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
