.button {
	width: 100%;
}

.labelWrapper {
	gap: 4px;
	display: flex;
	align-items: center;
}

.label {
	color: #fff5e4;
	font-size: 16px;
	font-style: normal;
	line-height: 120%;
	transition: 0.3s all;
}

.button:hover .label {
	color: #241b0a;
}

.badge {
	color: #241b0a;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	background-color: #fff5e4;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s all;
}

.button:hover .badge {
	background-color: #241b0a;
	color: #fff5e4;
}
