.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
}

.imageWrapper {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 270px;
	border-radius: 50%;
	border: 1px dashed #241b0a;
}

.iconWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 230px;
	height: 230px;
	border-radius: 50%;
	background: #241b0a;
}

.title {
	color: #241b0a;
	text-align: center;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: -0.408px;
	margin-bottom: 4px;
}

.description {
	width: 160px;
	margin: 0 auto;
	color: #241b0a;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: -0.408px;
}

@media (max-width: 1440px) {
	.imageWrapper {
		width: 255px;
		height: 255px;
	}

	.iconWrapper {
		width: 215px;
		height: 215px;
	}

	.icon {
		scale: 0.95;
	}
}

@media (max-width: 1220px) {
	.imageWrapper {
		width: 200px;
		height: 200px;
	}

	.iconWrapper {
		width: 175px;
		height: 175px;
	}

	.icon {
		scale: 0.76;
	}
}

@media (max-width: 550px) {
	.imageWrapper {
		width: 190px;
		height: 190px;
	}

	.iconWrapper {
		width: 165px;
		height: 165px;
	}

	.icon {
		scale: 0.7;
	}
}
