.wrapper {
	padding: 43px 0 104px 0;
}

.title {
	color: #241b0a;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 64px;
	text-align: center;
}

.content {
	margin-bottom: 21px;
}

@media (max-width: 640px) {
	.title {
		font-size: 48px;
	}
}

@media (max-width: 485px) {
	.title {
		font-size: 40px;
	}
}
