.wrapper {
	gap: 64px;
	display: flex;
	align-items: center;
	margin-bottom: 104px;
	flex-direction: column;
}

.title {
	color: #241b0a;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	text-transform: uppercase;
}

.services {
	display: flex;
	gap: 20px;
	width: 100%;
}

@media (max-width: 900px) {
	.wrapper {
		gap: 48px;
	}

	.services {
		flex-direction: column;
	}
}

@media (max-width: 640px) {
	.title {
		font-size: 56px;
	}
}

@media (max-width: 485px) {
	.title {
		font-size: 40px;
	}
}

@media (max-width: 425px) {
	.title {
		font-size: 28px;
	}
}
