.wrapper {
	width: 100%;
	display: flex;
	aspect-ratio: 1;
	border-radius: 48px;
	flex-direction: column;
	padding: 40px 62px 28px 62px;
	justify-content: space-between;
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.12);
}

.title {
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.button {
	height: 43px !important;
}

.button p {
	font-size: 16px !important;
}
