.footer {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 48px;
}

.socials {
	gap: 40px;
	display: flex;
	align-items: center;
}

.line {
	width: 100%;
	height: 1px;
	background: rgba(36, 27, 10, 0.2);
}

.mainInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.links {
	gap: 20px;
	display: flex;
	align-items: center;
}

.text {
	color: #241b0a;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.background {
	width: 100vw;
	position: absolute;
	bottom: -180px;
	left: -150px;
	right: -150px;
	z-index: -1;
}

@media (max-width: 1350px) {
	.background {
		left: -84px;
		right: -84px;
	}
}

@media (max-width: 1024px) {
	.background {
		left: -64px;
		right: -64px;
		bottom: -270px;
	}
}

@media (max-width: 800px) {
	.background {
		left: -56px;
		right: -56px;
	}
}

@media (max-width: 670px) {
	.background {
		left: -48px;
		right: -48px;
	}
}

@media (max-width: 510px) {
	.socials {
		justify-content: center;
	}

	.text {
		text-align: center;
		width: 70%;
		margin: 0 auto;
	}
}

@media (max-width: 485px) {
	.background {
		left: -36px;
		right: -36px;
	}
}

@media (max-width: 400px) {
	.background {
		left: -20px;
		right: -20px;
	}

	.text {
		width: 90%;
	}
}
