.modal {
	top: 40%;
	left: 50%;
	position: fixed;
	translate: -50%;
	display: inline-flex;
	padding: 24px 48px;
	border-radius: 32px;
	background: #241b0a;
	box-shadow: 0px 0px 36px 0px rgba(255, 245, 228, 0.12);
	border: none;
	outline: none;
}

.modal::backdrop {
	background-color: rgba(36, 27, 10, 0.4);
}

.text {
	color: #f5f5f5;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	text-align: center;
}

@media (max-width: 768px) {
	.modal {
		width: 70vw;
	}
}

@media (max-width: 485px) {
	.modal {
		width: 85vw;
	}
}
