.wrapper {
	margin-bottom: 104px;
}

.title {
	color: #000;
	font-size: 64px;
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 64px;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.title {
		font-size: 56px;
		margin-bottom: 48px;
	}
}

@media (max-width: 550px) {
	.title {
		font-size: 40px;
	}
}

@media (max-width: 425px) {
	.title {
		font-size: 28px;
	}
}
