.wrapper {
	gap: 28px;
	display: flex;
	padding: 0 84px;
	align-items: flex-start;
}

.iconWrapper {
	padding: 12px 24px;
}

.mainContent {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.text {
	color: #241b0a;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: -0.408px;
}

.authors {
	height: 88px;
	gap: 22px;
	max-height: 88px;
	display: flex;
	align-items: center;
}

.author {
	position: relative;
	border-radius: 100px;
	display: flex;
	align-items: center;
	gap: 26px;
	cursor: pointer;
	overflow: hidden;
}

.author.active {
	padding: 16px 24px;
	background: #241b0a;
}

.authorImage {
	width: 56px;
	height: 56px;
	z-index: 2;
	position: relative;
	border-radius: 50%;
}

.authorInfo {
	z-index: 2;
	position: relative;
}

.authorName {
	white-space: nowrap;
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px;
}

.authorAge {
	white-space: nowrap;
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	opacity: 0.3;
}

@media (max-width: 1160px) {
	.wrapper {
		padding: 0 24px 0 0;
	}
}

@media (max-width: 768px) {
	.iconWrapper {
		padding: 12px 24px 12px 0;
	}
}

@media (max-width: 720px) {
	.authors {
		gap: 7px;
		position: relative;
	}

	.author.active {
		top: 0;
		position: absolute;
	}

	.author:not(.active) {
		margin-top: 170px;
	}
}

@media (max-width: 670px) {
	.wrapper {
		gap: 0;
		padding: 0;
	}

	.iconWrapper {
		padding: 0 15px 8px 15px;
	}

	.reviewIcon {
		width: 35px;
	}

	.text {
		font-size: 16px;
	}
}

@media (max-width: 550px) {
	.iconWrapper {
		padding: 0 15px 0 0;
	}
}

@media (max-width: 485px) {
	.author.active {
		width: 100%;
	}
}

@media (max-width: 425px) {
	.iconWrapper {
		padding: 0 7px 0 0;
		margin-top: -10px;
	}

	.reviewIcon {
		width: 17px;
	}

	.text {
		font-size: 14px;
	}

	.author.active {
		padding: 16px;
	}
}
